fastapi
uvicorn
autogen-agentchat
autogen-ext[azure]
autogen-ext[openai]
azure-cosmos
azure-identity
azure-storage-blob
python-dotenv
python-multipart
reportlab
aiohttp
numpy
pandas
yfinance
tenacity
langchain
sec_api
mplfinance
ta

azure-monitor-opentelemetry==1.0.0
azure-monitor-events-extension

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-openai